<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DANMAKU_via_Twitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DANMAKU_via_Twitter.Properties.Settings>
            <setting name="Query" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamTimeline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Yu Gothic UI</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="Color" serializeAs="String">
                <value>White</value>
            </setting>
        </DANMAKU_via_Twitter.Properties.Settings>
    </userSettings>
</configuration>